<ion-app>
  <ion-header>
    <ion-toolbar>
    <ion-buttons>
      <ion-buttons start>
        <ion-button icon-only (click)="openMenu()">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
  </ion-buttons>
      <ion-title>
        Page d'accueil
      </ion-title>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-button size="small" (click)="NavigateToAppareils()">Appareils</ion-button>
  </ion-content>
  <ion-footer>
    <app-footer ></app-footer>
    <app-tabs></app-tabs>
  </ion-footer>
</ion-app>



