<ion-header>
  <ion-toolbar>
    <ion-buttons>
    <ion-buttons start>
      <ion-button icon-only (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
</ion-buttons>
    <ion-title>Réglages</ion-title>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button icon-start (click)="onToggleLights()">
    <ion-icon name="power"></ion-icon>
    Lumières
  </ion-button>
</ion-content>
<ion-footer>
  <app-footer ></app-footer>
  <app-tabs></app-tabs>
</ion-footer>